<page-header [title]="'短信发送'">
</page-header>

<div class="c-container">
  <div style="padding-top: 20px; margin-bottom: 20px;">
    <common-search-bar [SearchBarData] = 'searchBarData'>

    </common-search-bar>
  </div>

  <div>
    <button
      nz-button
      nzType="primary"
      class="c-button"
      (click)="add()"
    >
      新增发送
    </button>
    <common-table [TableData]="tableData" (change)="pageChange()">
    </common-table>
  </div>

  <!--<common-modal [cancel] = 'false' [isVisible] = "isVisible" [title] = "'删除'" [body]="'一旦删除,该数据不可恢复'" [type]="'warn'" (confirm)="modalConfirm()">-->
  <!--</common-modal>-->
</div>


<nz-modal [(nzVisible)]="formVisible" [nzTitle]="formTitle" [nzContent]="formContent" [nzFooter]="formFooter" (nzOnCancel)="formVisible = false">
  <ng-template #formTitle>
    新建发送
  </ng-template>

  <ng-template #formContent>

    <form nz-form [nzLayout]="'inline'" [formGroup]="form">
      <!-- 业务类型 -->
      <nz-form-item class='c-formSec'>
        <nz-form-label [nzSm]="5" nzRequired nzFor="projectType">业务类型</nz-form-label>
        <nz-form-control [nzSm]="18"  [nzOffset]='1'>
          <nz-select name="select-error" formControlName="projectType" id="projectType" nzPlaceHolder="请选择业务类型">
            <nz-option *ngFor="let item of type" [nzValue]="item.value" [nzLabel]="item.key"></nz-option>
          </nz-select>
          <nz-form-explain *ngIf="form.get('projectType').dirty && form.get('projectType').errors">业务类型不能为空</nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <!-- 业务类型 -->
      <nz-form-item class='c-formSec'>
        <nz-form-label [nzSm]="5" nzRequired nzFor="channelType">对应业务类型</nz-form-label>
        <nz-form-control [nzSm]="18"  [nzOffset]='1'>
          <nz-select name="select-error" formControlName="channelType" id="channelType" nzPlaceHolder="请选择对应业务类型">
            <nz-option *ngFor="let item of channelType" [nzValue]="item.value" [nzLabel]="item.key"></nz-option>
          </nz-select>
          <nz-form-explain *ngIf="form.get('channelType').dirty && form.get('channelType').errors">对应业务类型不能为空</nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <!-- 业务类型 -->
      <nz-form-item class='c-formSec'>
        <nz-form-label [nzSm]="5" nzRequired nzFor="sendType">发送类型</nz-form-label>
        <nz-form-control [nzSm]="18"  [nzOffset]='1'>
          <nz-select name="select-error" formControlName="sendType" id="sendType" nzPlaceHolder="请选择发送类型">
            <nz-option *ngFor="let item of sendType" [nzValue]="item.value" [nzLabel]="item.key"></nz-option>
          </nz-select>
          <nz-form-explain *ngIf="form.get('sendType').dirty && form.get('sendType').errors">发送类型不能为空</nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item class='c-formSec' *ngIf="form.get('sendType').value == 3 || form.get('sendType').value == 4" [@ngIfAnimate] >
        <nz-form-label [nzSm]="5" nzRequired nzFor="sendTime">发送时间</nz-form-label>
        <nz-form-control [nzSm]="18" [nzOffset]='1'>
          <nz-date-picker nzAllowClear formControlName="sendTime"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>

      <!-- 模板 -->
      <nz-form-item class='c-formSec'>
        <nz-form-label [nzSm]="5" nzRequired nzFor="sendType">模版</nz-form-label>
        <nz-form-control [nzSm]="18"  [nzOffset]='1'>
          <nz-select name="select-error" formControlName="templateCode" id="templateCode" nzPlaceHolder="请选择模版">
            <nz-option *ngFor="let item of templateENUM" [nzValue]="item.value" [nzLabel]="item.key"></nz-option>
          </nz-select>
          <nz-form-explain *ngIf="form.get('templateCode').dirty && form.get('templateCode').errors">模版不能为空</nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <!-- 发送号码 -->
      <nz-form-item class='c-formSec'>
        <nz-form-label [nzSm]="5" nzRequired nzFor="status">手机号码</nz-form-label>
        <nz-form-control [nzSm]="18"  [nzOffset]='1'>
          <textarea name="phoneNum" id="phoneNums" formControlName="phoneNums" class="textContent" placeholder="多个手机号用英文逗号隔开"></textarea>
          <nz-form-explain *ngIf="form.get('phoneNums').dirty && form.get('phoneNums').errors">手机号码不能为空</nz-form-explain>
        </nz-form-control>
      </nz-form-item>

    </form>
  </ng-template>

  <ng-template #formFooter>
    <button nz-button nzType="primary" (click)="send($event)" [disabled]="!form.valid">发送</button>
    <button nz-button nzType="default" (click)="formVisible = false">取消</button>
  </ng-template>
</nz-modal>
