<div class="search-bar-wrap">
  <!-- classify -->
  <div *ngIf = 'SearchBarData.classify' class="border-dashed c-flex-row-start classifyWrap">
    <div class="classify_title">
      {{ SearchBarData.classify.name }} :
    </div>
    <div class="classify_tags c-flex-row-start">
      <div class="tags" *ngFor="let item of SearchBarData.classify.data; let idx = index" (click)="classifyChange( item )">
        {{ item.name }}
      </div>
    </div>
  </div>

  <!-- condition -->
  <div class="border-dashed" *ngIf = 'SearchBarData.conditions'>
    <div class="c-flex-row-start c-flex-auto-wrap conditionWrap">
      <div *ngFor="let item of SearchBarData.conditions" class="conditionSection">
        <!-- input -->
        <div *ngIf="item.type === 'input'" class="c-flex-row-start">
          <div class="searchTitle">
            <span>
              {{ item.name }}
            </span>:
          </div>
          <div class="c-flex-row-start" style="flex:1">
            <input #input nz-input [placeholder]="item.placeHolder" (change)="item.change(input.value)">
          </div>
        </div>

        <!-- select -->
        <div *ngIf="item.type === 'select'" class="c-flex-row-start">
          <div class="searchTitle">
            <span>
              {{ item.name }}
            </span>:
          </div>
          <div class="c-flex-row-start" style="flex:1">
            <nz-select nzAllowClear style="width: 100%;" [ngModel]="'null'" [nzPlaceHolder]="item.placeHolder" (ngModelChange) = 'item.change($event)'>
              <nz-option [nzValue]="'null'" [nzLabel]="'全部'"></nz-option>
              <nz-option *ngFor="let ops of item.data " [nzValue]="ops.value" [nzLabel]="ops.key" ></nz-option>
            </nz-select>
          </div>
        </div>

        <!-- date -->
        <div *ngIf="item.type === 'date'" class="c-flex-row-start">
          <div class="searchTitle">
            <span>
              {{ item.name }}
            </span>:
          </div>
          <div class="c-flex-row-start" style="flex:1">
            <nz-date-picker nzAllowClear [(ngModel)]="item['date'] " [nzPlaceHolder] = 'item.placeHolder' (ngModelChange) = 'item.change($event)'></nz-date-picker>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- dateTime -->
  <div class="border-dashed" *ngIf = 'SearchBarData.sections'>
    <div *ngFor="let item of SearchBarData.sections">
      <div *ngIf = 'item.type === "dateRange"' class="c-flex-row-start">

        <div class="searchSection c-flex-row-start c-flex-auto-wrap">
          <div class="searchTitle dateTimeTitle">
            <span>
              {{ item.name }} :
            </span>
          </div>
          <nz-date-picker nzAllowClear class="dateTime" [(ngModel)]="item['start'] " [nzPlaceHolder] = 'item.placeHolders[0]' (ngModelChange) = 'item.change($event , "start")'></nz-date-picker>
          <div class="splitLine"> - </div>
          <nz-date-picker nzAllowClear class="dateTime" [(ngModel)]="item['end'] " [nzPlaceHolder] = 'item.placeHolders[1]' (ngModelChange) = 'item.change($event , "end")'></nz-date-picker>
        </div>
      </div>
    </div>
  </div>

  <!-- btn -->
  <div *ngIf = 'SearchBarData.btn'>
    <div class="btnWrap c-flex-row-start">
      <div *ngFor="let item of SearchBarData.btn">

        <button
          *ngIf="item.type === 'search' "
          nz-button
          nzType="primary"
          (click)="item.fn()"
        >
          <i class="anticon anticon-search"></i>
          {{ item.name }}
        </button>

        <button
          *ngIf="item.type === 'reset' "
          nz-button
          nzType="default"
          (click)="item.fn()"
        >
          <i nz-icon type="cloud" theme="outline"></i>
          {{ item.name }}
        </button>
      </div>
    </div>
  </div>
</div>
